USE [master]
GO
/****** Object:  Database [TestCrud]    Script Date: 28/09/2021 17:37:45 ******/
CREATE DATABASE [TestCrud]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestCrud', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.LOCALHOST\MSSQL\DATA\TestCrud.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestCrud_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.LOCALHOST\MSSQL\DATA\TestCrud_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestCrud].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestCrud]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 28/09/2021 17:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 28/09/2021 17:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](max) NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[IdRol] [int] NOT NULL,
	[FechaAlta] [datetime] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([Id], [Descripcion], [Activo]) VALUES (1, N'Administrador', 1)
INSERT [dbo].[Rol] ([Id], [Descripcion], [Activo]) VALUES (2, N'Visitante', 1)
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Username], [Password], [Nombre], [Apellido], [IdRol], [FechaAlta], [Activo]) VALUES (1, N'admin2', N'D44559F602EAB6FD62AC7680DACBFAADD13630335E951F97AF390E9DE176B6DB28512F2E0B9D4FBA5133E8B1C6E8DF59DB3A8AB9D60BE4B97CC9E81DB', N'Administrador', N'1', 1, CAST(N'2021-09-28T16:36:28.000' AS DateTime), 1)
INSERT [dbo].[Usuarios] ([Id], [Username], [Password], [Nombre], [Apellido], [IdRol], [FechaAlta], [Activo]) VALUES (2, N'admin', N'D44559F602EAB6FD62AC7680DACBFAADD13630335E951F97AF390E9DE176B6DB28512F2E0B9D4FBA5133E8B1C6E8DF59DB3A8AB9D60BE4B97CC9E81DB', N'admin2', N'admin2', 1, CAST(N'2021-09-28T17:31:23.337' AS DateTime), 1)
INSERT [dbo].[Usuarios] ([Id], [Username], [Password], [Nombre], [Apellido], [IdRol], [FechaAlta], [Activo]) VALUES (3, N'visitante', N'D44559F602EAB6FD62AC7680DACBFAADD13630335E951F97AF390E9DE176B6DB28512F2E0B9D4FBA5133E8B1C6E8DF59DB3A8AB9D60BE4B97CC9E81DB', N'visitante', N'1', 2, CAST(N'2021-09-28T17:33:15.453' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Rol]
GO
USE [master]
GO
